.page {
    margin: 0;
    font-family: 'OpenSans',Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.page__header_grey {
    background-color: #e0e0e0;

/*Header*/

}
.header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    max-width: 1250px;
    min-height: 90px;
    width: 100%;
    margin: 0 auto;
    background: #000000;

}

.header__navigation {
    display: flex;
    flex-wrap: wrap;

}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;

}

.menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 90px;

}

.menu__item:hover {
    background-color: #ff3f40;

}

.menu__link {
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/*Intro*/

.page-content {
    flex-grow: 1;
}
.intro {
    padding-top: 102px;
    padding-bottom: 94px;
}
.intro__content {
    position: relative;
    bottom: 12px;
    width: 616px;
    margin-right: 74px;
    margin-bottom: 20px;

}
.intro__heading {
    text-transform: uppercase;
    font-size: 60px;
    line-height: 72px;
    margin: 0;
    font-weight: 900;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;

}
.intro__text {
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    max-width: 520px;
    font-weight: 200;
    line-height: 28px;
    margin: 0;
    margin-bottom: 62px;
    margin-top: 36px;

}

.action-button {
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    width: 228px;
    height: 56px;
    box-sizing: border-box;
    border-radius: 6px;
    display: inline-block;
    text-decoration: none;
    padding: 16px 0;
    text-align: center;

}

.action__button_red {
    color: #ffffff;
    background-color: #ff2d2d;
    font-size: 18px;
    font-weight: 700;

}

.intro__image {
    width: 554px;
    height: 360px;

}

.section {
    margin: 0 auto;
    max-width: 1250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 1vw;
    padding-right: 1vw;
}

/*services*/

.services {
    padding-top: 108px;
    border-bottom: 1px solid#ececec;
    padding-bottom: 52px;
}
.services__lead {
    flex: 1 1 502px;
    max-width: 502px;
    margin-bottom: 50px;
    margin-right: 50px;
}
.services__heading {
    margin-bottom: 28px;
    bottom: 6px;
    position: relative;
    text-transform: uppercase;
    font-family:'Open Sans',Arial, Helvetica, sans-serif;
    font-size: 42px;

}
.services__text {
    margin: 0;
    margin-bottom: 50px;
    line-height: 28px;
    font-family:'Open Sans',Arial, Helvetica, sans-serif;

}
.action-button_white {
    font-size: 18px;
    color: #ff2d2d;
    background-color: #ffffff;
    border: 2px solid #ff0000;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;

}
.services__blocks {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    max-width: 610px;
    margin-top: 36px;
}

/*Service*/

.service {
    flex: 1 1 288px;
    width: 288px;
    margin-bottom: 50px;
}
.service__heading {
    margin: 0;
    margin-bottom: 12px;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    font-size: 24px;
    font-weight: 600;

}
.service__heading::before {
    display: block;
    width: 41px;
    height: 41px;
    margin-bottom: 22px;
}
.service__text {
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 28px;

}

.service__heading_manage::before {
    content: url('../images/shape\ 1.png') ;

}

.service__heading_ux::before {
    content: url('../images/Shape 2.png');
    
}
.service__heading_logo::before {
    content:url('../images/Shape 3.png') ;

}
.service__heading_anim::before {
    content: url('../images/Shape 4.png');

}

/* Feature products*/

.feature {
    padding-top: 104px;
    padding-bottom:  52px;

}

.feature__header {
    width: 100%;
    text-align: center;
    margin-bottom: 66px;

}

.feature__heading {
    padding-left: 14px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    font-size: 42px;

}
.feature__text {
    line-height: 28px;
    max-width: 536px;
    margin: 0 auto 30px;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;

}
.feature__line {
    border: 1px solid red;
    width: 134px;
    max-height: 4px;

}
.products__filter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    justify-content: center;

}
.products__link {
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    position: relative;
    left: 46px;
    margin-right: 56px;
    color: #000000;
    text-decoration: none;
    font-size: 22px;
    line-height: 24px;

}
.products__link_active {
    color: #ff2d2d;
    opacity: 1;
}
.products__link:hover {
    color: #ff2d2d;

}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}

.product {
    flex: 1 1 24%;
    width: 1350px;
    max-width: 100%;
    height: 600px;
    margin-bottom: 18px;
    object-fit: cover;
    top: 1735px;
    left: 52px;
    text-align: justify;
    

}
.product:hover {
    cursor: pointer;
    max-width: width 320px;;
    
}

/*Team*/

.team {
    padding-top: 60px;
    padding-bottom: 12px;
    
}
.team__header {
    text-align: left;
    width: 100%;
    margin-bottom: 66px;
    
}

.team__heading {
    margin-bottom: 24px;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    
}

.team__text {
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    margin-bottom: 30px;
    line-height: 28px;
    max-width: 460px;
}
.team__line {
    width: 134px;
    max-height: 4px;
    border: 1px solid #ff2d2d;
    margin-left: 0;
    

}

.team__members {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch;
    min-height: 462px;

}
.team__selected-photo {
    flex-shrink: 0;
    background-color: #ff3f40;
    margin-right: 66px;
    align-self: start;
    width: 322px;
    height: 462px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

}

.team__main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

@supports (display: grid) and (display: contents) {
    .team__members {
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);

    }

.team__main-content {
    display: contents;

}
}

.team__selected-info {
    max-width: 662px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: start;
    justify-content: space-between;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

}

.team__selected-about {
    margin: 0;
    line-height: 28px;
    margin-bottom: 34px;

}

.team__selected-name {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-right: 30px;
    margin-bottom: 16px;
    bottom: 6px;
    text-transform: uppercase;

}

.team__selected-link {
    font-size: 18px;
    font-style: italic;
    margin-right: 30px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;

}

.team__selected-link:hover {
    text-decoration: underline;

}
.members {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-end;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.member {
    position: relative;
    margin-top: 18px;

}
.member:not(:last-child) {
    margin-right: 18px;
}
.member__name {
    display: flex;
    color: #ffffff;
    background-color: #000000;
    margin: 0;
    position: absolute;
    justify-content: center;
    height: 38px;
    width: 100%;
    align-items: center;
    bottom: 0;
    text-align: center;
    visibility: hidden;
    opacity: 0.5;

}
.member:hover > .member__name {
    visibility: visible;

}
.member__photo {
    display: block;
    width: 198px;
    height: 218px;
    background-color: gray;
    
}

/*Subscribe*/

.subscribe {
    display: block;
    box-sizing: border-box;
    background-color: #2d2d2d;
    width: 100%;
    max-width: 100%;
    padding-top: 124px;
    padding-bottom: 140px;

}

.subscribe__header {
    margin: 0;
    max-width: 1250px;
    text-align: center;

}

.subscribe__heading {
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
    color: #ffffff;
    line-height: 24px;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1px;

}
.subscribe__text {
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;

}

.subscribe__form {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

}

.subscribe__input {
    display: flex;
    flex: 0 1 526px;
    color: #2c2c2c;
    align-items: center;
    padding: 0;
    padding-left: 36px;
    padding-right: 22px;
    min-height: 78px;
    border: none;
    margin-bottom: 16px;
    background-color: #ffffff;
    border-radius: 5px;
    
}
.subscribe__button {

    color: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    width: 218px;
    min-height: 78px;
    border: none;
    border-radius: 5px;
    margin-top: 56px;
    margin-left: 20px;
    background-color: #ff2d2d;
    text-transform: uppercase;

}


